@model CleanArchitecture.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Register New Category";
}

<style>
    .model-lg {
        max-width: 80%;
    }
</style>

<form asp-action="Create">
    <div class="container">
        <h3>@ViewData["Title"]</h3>

        <hr />

        <div class="row">
            <label asp-for="Name" class="control-label pt-2"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div>
                <br /> 
            </div>

            <div class="col-md-2">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>

            <div class="col-md-2">
                <a asp-action="Index" class="btn btn-primary form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>

