@model CleanArchitecture.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Delete Category";
    ViewData["SubTitle"] = "Are you sure to delete?";
}

<form asp-action="Delete">
    <input asp-for="Id" hidden />

    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <h4>@ViewData["SubTitle"]</h4>

        <hr />

        <div class="row">
            <label asp-for="Name" class="control-label"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" disabled />
            </div>

            <div>
                <br />
            </div>

            <div class="col-md-2">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>

            <div class="col-md-2">
                <a asp-action="Index" class="btn btn-primary form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>