@model CleanArchitecture.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Edit Category";
}

<form asp-action="Edit">
    <input asp-for="Id" hidden />

    <div class="container">
        <h2>@ViewData["Title"]</h2>

        <hr />

        <div class="row">
            <label asp-for="Name" class="control-label"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div>
                <br />
            </div>

            <div class="col-md-2">
                <input type="submit" value="Edit" class="btn btn-success form-control" />
            </div>

            <div class="col-md-2">
                <a asp-action="Index" class="btn btn-primary form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>