@model CleanArchitecture.WebApi.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register new User";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Register">
            <h3 class="mb-3">@ViewData["Title"]</h3>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Email" action="control-label col-md-2"></label>

                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" action="control-label "></label>

                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" action="control-label "></label>

                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="fomr-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-dark">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}